body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
}

.container {
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(40px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(192, 139, 139, 0.2);
}

.quote-box {
    max-width: 600px;
    margin: 0 auto;
}

#quote {
    font-size: 1.5rem;
    font-style: italic;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 10px;
}

#author {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

#copy-quote {
    background-color: #28a745;
}

#copy-quote:hover {
    background-color: #218838;
}

#share-twitter {
    background-color: #1da1f2;
}

#share-twitter:hover {
    background-color: #1991db;
}

#export-quote {
    background-color: #dc3545;
}

#export-quote:hover {
    background-color: #c82333;
}